<main>
  <h1 class="text-3xl text-red-500 font-bold underline">
    Hello world!
  </h1>

  <h1>Profile for {{userName()}}</h1>
  <button (click)="changeUserName()">Change User Name</button>
  <button (click)="resetUserName()">Reset User Name</button>
  <hr />
  <hr />
  <button [disabled]="!isValidUserId()">Save changes</button>

  @if(isValidUserId()) {
  <p>User ID is valid</p>
  } @else {
  <p>User ID is invalid</p>
  }

  @for (badge of badges(); track badge.id) {
  <li class="user-badge">{{badge.name}}</li>
  }

  <hr>

  <h2>
    The total is {{ totalCost() }}
  </h2>
</main>



<router-outlet />